<ion-app>
  

<ion-menu contentId="main-content" *ngIf="uid.length">
  <ion-header>
    <ion-toolbar>
      <ion-title class="subtitulo">VOZ PARA LA GENTE</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
<ion-menu-toggle autoHide=false>
<ion-content>
  
  <ion-item color="dark" button=true detail=true [routerLink]="['/home']" >
    <ion-label class="normal">Inicio</ion-label>
    <ion-icon slot="start" name="home-outline"></ion-icon>
    
    </ion-item>
  

  <ion-item color="Light" *ngIf="uid==='Ka4casxVxmReuaj81Dhsi23BHPc2'" button=true detail=true [routerLink]="['/set-portavoces']" >
  <ion-label class="normal">Configuracion portavoz</ion-label>
  <ion-icon slot="start" name="create-sharp"></ion-icon>

</ion-item>

<ion-item color="dark" button=true detail=true [routerLink]="['/politicas']" >
<ion-label class="normal">Politicas y Condiciones</ion-label>
<ion-icon slot="start" name="warning-outline"></ion-icon>


</ion-item>

  <ion-item color="Light" button=true detail=true [routerLink]="['/portavoz']" >
    <ion-label class="normal">Convertite en PORTAVOZ</ion-label>
    <ion-icon slot="start" name="megaphone-outline"></ion-icon>
    
    </ion-item>
    

    <ion-item color="dark" button=true detail=true (click)="salir()" >
      <ion-label class="normal">Cerrar Sesion</ion-label>
      <ion-icon slot="start" name="exit-outline"></ion-icon>
      
      </ion-item>
      

</ion-content>
</ion-menu-toggle >
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
      <div slot="end">
        <ion-buttons slot="end">
          <ion-button [routerLink]="['/perfil']">
            <ion-icon color="dark" slot="icon-only" name="person-circle" ></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
</div> 
</ion-app>
