.contenedor {
    width: 33.33%;

  }
.center {
    width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    margin-left: 50%;
    transform: translateX(-50%);
}
.imgRedonda {
  width:32px;
  height:32px;
  border-radius:32px;
}
.showcase {
   background-image: url("https://firebasestorage.googleapis.com/v0/b/portavozapp.appspot.com/o/maxresdefault.jpg?alt=media&token=cac366cc-74ff-459b-a43d-ac2840c81d6a");
height: auto;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.showcase2 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/portavozapp.appspot.com/o/crows-5.jpg?alt=media&token=77c10d05-091e-4622-b4b3-a9dd9b5c8461");
height: auto;
 width: auto;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

}