.encabezado {
   // background: #f3f3eb;
    border-radius: 30px;
    margin: 20px;
    text-align: center;
    padding: 10px;
}
.image{
    padding: 10px;
    border: 1px solid auto;
    margin: auto;
    width: 100%;
    border-radius: 20px;
}

.imgRedonda {
    width:32px;
    height:32px;
    border-radius:32px;
  }