/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,600;1,100&display=swap');

.titulo{
font-family: 'Raleway', 'sans-serif';
font-size: 22.5px;
font-weight: bold;

}

.subtitulo{

    font-family: 'Raleway', 'sans-serif';
    font-size: 20px;
    //font-weight: bold;
}

.normal{
    font-family: 'Raleway', 'sans-serif';
    font-size: 17x;
   // font-weight: bold;

}
.encabezado {
    // background: #f3f3eb;
     border-radius: 30px;
     margin: 20px;
     text-align: center;
     padding: 10px;
 }
 .image{
     padding: 10px;
     border: 1px solid auto;
     margin: auto;
     width: 100%;
     border-radius: 20px;
 }
 
.showcase {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/portavozapp.appspot.com/o/maxresdefault.jpg?alt=media&token=cac366cc-74ff-459b-a43d-ac2840c81d6a");
 height: auto;
   width: auto;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  
 }